python-dotenv
termcolor
textblob
numpy
python-dateutil
matplotlib
mpl_finance
pandas
pandas_market_calendars
scipy
sympy
fast_arrow_auth
sklearn
keras
tensorflow
python-snappy
Dask
Fastparquet
multitasking
pystore
fsspec
pysqlite3
bs4
selenium